<!DOCTYPE html>
<html>
    <title>HOME</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"> 
  <body>
    <!--<div class='proj_button_div upper'>
      <a class="index_button" href="/" style="float: left;">None here</a>
      <a class="index_button" href="/">none here</a>
      <a class="index_button" href="/" style="float: right;">None here</a>
    </div> -->
    <div class='proj_button_div bottom'>
      <a class="index_button" href="/mnist" style="float: left;">MNIST</a>
      <a class="index_button" href="/ssd">SSD</a>
      <a class="index_button" href="/" style="float: right;">None here</a>
    </div>
  </body>
</html>
